<!-- 世界上最伟大的推销员 -->
<section class="intro" id="home">
    <div class="cover"></div>
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animated text-slide fadeIn">
                    <div id="intro-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <h3 class="brand-heading">HABITS</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will form good habits and become their slave.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading">Love</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will greet this day with love in my heart.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> persistence</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will persist until I succeed.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> miracle</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I am nature's greatest miracle.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> last</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will live this day as if it is my last.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> emotions</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will be master of my emotions.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> laugh</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will laugh at the world.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> laugh</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will laugh at the world.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> multiply</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will multiply my value a hundredfold.
                                </p>
                            </li>
                            <li>
                                <h3 class="brand-heading"> act</h3>
                                <div class="line"></div>
                                <p class="intro-text yah">
                                    I will act now.
                                </p>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>