{% extends "base.html" %}

{% block content %}
			
			<section class="show-content">
                <div class="container">
                    <div class="row">
                        <div >
                        	
                            <p class="right">
                                <a href="/courence/add/index"><i class="icon-plus"></i> </a>
                            </p>
                            <div class="line11"></div>
                        </div>
                    </div>
                </div>
            </section>
		
           {% for entry in entries %}
            <section class="show-content">
                <div class="container">
                    <div class="row">
                        <div >
                            
                            <pre>{{ entry.content }}</pre>
                            <div class="line11"></div>
                            <p class="date">
                                {{ entry.created_at }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            {%endfor%}
            
            
{% endblock %}
