
/* 显示图标 <i class="icon-plus"></i> icon-plus
================================================== */
i {
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-plus {
    background-position: -408px -96px;
}

.icon-align-justify {
    background-position: -336px -48px;
}


.icon-ok {
    background-position: -288px 0;
}

/* 显示内容 block content
================================================== */
basecontent{
	display:block;
	min-height: 680px;
    padding: 69px 0 0;
}
.welcome-content,.show-content {
    padding: 30px 0;
    background: #fff;
    position: relative;
    z-index:1;
}
.show-content p {
	color: #3d3d3d;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding:0 28px;
    margin: 30px auto 0;
}
.show-content pre {
	color: #3d3d3d;
    font-size: 13px;
    line-height: 22px;
	padding:0 28px;
    margin: 0 auto;
    background-color:#fff;
    border:0px;
    white-space: pre-wrap;
	word-wrap: break-word;
}

.show-content .date {
	color: #3d3d3d;
    font-size: 12px;
    line-height: 22px;
	padding:0 28px;
    margin: 0 auto;
    border:0px;
	text-align: right;
}

/* Footer Styles
================================================== */

footer {
	background-color: #fafafa;
    padding: 55px 0;
    position: relative;
    z-index:1;
}
footer p{
	 font-size: 13px;
    margin: 0;
    text-align: center;
}

/* start Styles
================================================== */
.navbar-brand{font-size:12px;line-height:1em;font-weight:normal}
.navbar-brand b{font-size:25px; font-weight:800;}
.navbar-brand .logozi{float:right;}
.top-nav-collapse .navbar-brand{font-size:10px;
}
.top-nav-collapse .navbar-brand b{font-size:20px; font-weight:800}
.top-nav-collapse .iconfont{font-size:50px;}


