{% extends "base.html" %} {% block content %}

<section class="welcome-content">
	<div class="container">
		<div class="row">
			<form action='/task/add/do' method='POST'>
				<div class="col-md-12 animated bounceIn">
					<h3>add task</h3>
					<div style="margin-bottom: 10px;">
						<textarea class='content' style='min-height:100px' id='content' name='content'></textarea>
					</div>
					<div>
						<div class="btn-group span3" role="group" aria-label="...">
							<input name='date' id='id_type' type="hidden" value='Plan' />
							<button type="button" style="background-color: #ccc;" id='id_Plan' onclick="javascript:setType('Plan')" class="btn btn-default">
								Plan </button>
							<button type="button" id='id_Action' onclick="javascript:setType('Action')" class="btn btn-default"> Action </button>
						</div>
						<div class="btn-group span6">
							<input name='date' id='id_date' type="hidden" value='{{date}}' />
						</div>
						<div class="btn-group span3" role="group" aria-label="..." style="float: right;">
							<button type="button" onclick="javascript:post('A')" class="btn btn-default"> A </button>
							<button type="button" onclick="javascript:post('B')" class="btn btn-default"> B </button>
							<button type="button" onclick="javascript:post('C')" class="btn btn-default"> C </button>
							<button type="button" onclick="javascript:post('D')" class="btn btn-default"> D </button>
						</div>
					</div>

				</div>

			</form>
		</div>
	</div>

</section>
{% endblock %} {% block prejs %} +
<script type="text/javascript" src="/static/js/plugin/common/myDate.js"></script> {% endblock %} {% block js %}
<link href="/static/js/plugin/My97DatePicker/skin/WdatePicker.css" rel="stylesheet">
<script type="text/javascript" src="/static/js//common/myAjax.js"></script>
<script type="text/javascript" src="/static/js//common/myString.js"></script>
<script type="text/javascript">
	var goUrl = '/task/plan';
	function post(priority) {
		function success(json) {
			if (json.state) {
				window.location.href = goUrl;
			} else {
				$("#content").focus();
			}
		}
		var data = { priority: priority, date: $("#id_date").val(), content: $("#content").val(), type: $("#id_type").val() }
		HAjax.jsonPost({ url: '/task/new', data: data, success: success });
	}

	function setType(type) {
		$("#id_type").val(type)
		if (type == "Plan") {
			$("#id_Plan").attr("style", "background-color: #ccc;");
			$("#id_Action").removeAttr("style");
			$("#id_date").attr("type", "hidden");
			$("#id_date").val('{{date}}');
			goUrl = '/task/plan';
		} else {
			$("#id_Action").attr("style", "background-color: #ccc;");
			$("#id_Plan").removeAttr("style");
			$("#id_date").attr("type", "text");
			goUrl = '/task/newtasks/index';
		}

	}
	$(document).ready(function () {
		setType("Plan");
		HSelectDate.bindDate($("#id_date"));
	});

</script> {% endblock %}