{% extends "base.html" %}
{% block content %}

            <section class="welcome-content">
				<div class="container">
			        <div class="row">
				        <form action='/task/add/do'  method='POST'>
				            <div class="col-md-12 animated bounceIn">
				                <h3>添加任务</h3>
				                <textarea class='content' id='content' name='content'></textarea>
				                
				                <div class='span12' style='color:black;padding:10px'>
				                
				                <select name="priority">
									<option value="B">B</option>
									<option value="A">A</option>
									<option value="C">C</option>
									<option value="D">D</option>
								</select>
				                
                                 <nobr><input type="radio"  name="type" value="once" checked='checked'/> 一次</nobr>
                                 <nobr><input type="radio" name="type" value="daily"/> 每天</nobr>
                      
                                
								<nobr><input name='begin_date' id='id_begin_date' type="text" value='{{begin_date}}'/></nobr>
								<nobr><input name='end_date' id='id_end_date' type="text" value='{{end_date}}'/></nobr>
								
								</div>
				                <input class="btn1" type='submit'  value="submit"/>
				            </div>
				        </form>
			        </div>
			    </div>
			    
			</section>
{% endblock %}
{% block prejs %}
<script type="text/javascript" src="/static/js/plugin/common/myDate.js"></script>
{% endblock %}
{% block js %}

<link href="/static/js/plugin/My97DatePicker/skin/WdatePicker.css" rel="stylesheet">
<script type="text/javascript">
$(document).ready(function(){

	HSelectDate.bindDate($("#id_begin_date")); 
	HSelectDate.bindDate($("#id_end_date")); 
});
</script>
{% endblock %}