{% extends "base.html" %} 
{% block content %}

<section class="show-content">
	<div class="container">
		<div class="row">
			<div>
				<signdiv>
					<p>
						priority,content <a onclick="fail(this,taskId)" href="javascript:;"><i class="icon-remove"> </i></a>  <a class='tips' data-placement="top" data-toggle="tooltip" data-original-title="_tips"  onclick="success(this,taskId)" href="javascript:;"><i class="icon-ok"> </i></a>
					</p>
				</signdiv>
				
				<div class="line11" id='contentsign'></div>
				<p class="right">
					<a href="/task/add/index"><i class="icon-plus"></i> </a>
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block js %}

<script type="text/javascript" src="/static/js//common/myAjax.js"></script>
<script type="text/javascript" src="/static/js//common/myString.js"></script>
<script type="text/javascript">



function showNewTasks(){
	//成功显示内容
	function successAction(json){
		if(json.state){
			var content = $("signdiv").html();
			var html = "";
			var data = json.data;
			for(var i=0;i<data.length;i++){
				var d = {'priority':data[i].priority,
						'content':data[i].content,
						'taskId':data[i].id,
						'_tips':data[i].begin_date+"--"+data[i].end_date};
				html += HString.replace(content,d);
			}
			$("#contentsign").before(html);
			$('.tips').tooltip()
		}
		else{
			console.error(JSON.stringify(json))
		}
	}
	
	HAjax.jsonGet({url:'/task/newtasks',success:successAction});
}

function success(obj,taskId){
	function success(json){
		if(json.state){
			$(obj).parent('p').remove();
		}
		else{
			console.error(JSON.stringify(json))
		}
	}
	HAjax.jsonPut({url:'/task/newtasks/'+taskId+'/success',success:success});
}
function fail(obj,taskId){
	function success(json){
		if(json.state){
			$(obj).parent('p').remove();
		}
		else{
			console.error(JSON.stringify(json))
		}
	}
	HAjax.jsonPut({url:'/task/newtasks/'+taskId+'/fail',success:success});
}

$(document).ready(function(){
	showNewTasks();
});
</script>
{% endblock %}