{% extends "base.html" %} {% block content %}

<section class="show-content">
	<div class="container">
		<div class="row">
			<signdiv>
				<div class='centerdiv'>
					<div class="btn-group span9">
						<tip class='tips' data-html="true" data-placement="top" data-toggle="tooltip" data-original-title="_tips_">
							<button type="button" class="btn btn-large" style="width:100px;color:_color_">_priority_&nbsp;_state_</button>
						</tip>
						&nbsp;&nbsp;_content_&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					<div class="btn-group span3" role="group" aria-label="..." style='float: right;'>
						_actions_
					</div>
					<div style='clear:both'></div>
				</div>
			</signdiv>
			<h4 class="media-heading centerdiv" id='id_title'></h4>
			<div id='contentsign'></div>
			<div class="line11"></div>
			<p class="right">
				<a href="/task/new">
					<i class="icon-plus"></i>
				</a>
			</p>
		</div>
	</div>
</section>

{% endblock %} {% block prejs %}
<script type="text/javascript" src="/static/js/plugin/common/myDate.js"></script> {% endblock %} {% block js %}
<link href="/static/js/plugin/My97DatePicker/skin/WdatePicker.css" rel="stylesheet">
<script type="text/javascript" src="/static/js//common/myAjax.js"></script>
<script type="text/javascript" src="/static/js//common/myString.js"></script>
<script type="text/javascript">
	CurrentMenuName = "TASK";
	function showNewTasks() {
		//成功显示内容
		function successAction(json) {
			if (json.state) {
				var content = $("signdiv").html();
				var html = "";
				var data = json.data;
				var tasks = data.tasks;
				var statedict = {
					'ToDo': ['Ongoing', 'Done', 'Cancel'],
					'Ongoing': ['Ongoing', 'Done', 'Cancel'],
					'Done': [],
					'Cancel': []
				};
				for (var i = 0; i < tasks.length; i++) {
					var actions = "";
					var state = tasks[i].state;
					for (var j = 0; j < statedict[state].length; j++) {
						var tstate = statedict[state][j];
						actions += '<button type="button" onclick="javascript:changestate(' + tasks[i].id + ',\'' + tstate + '\')" class="btn btn-default">' + tstate + '</button>';
					}
					var color = "#333";
					if (state == 'Done' || state == "Ongoing") {
						color = "#3c3"
					} else if (state == "Cancel") {
						color = "#c33"
					}
					var d = {
						'_priority_': tasks[i].priority,
						'_content_': tasks[i].content,
						'_taskId_': tasks[i].id,
						'_state_': tasks[i].state,
						'_tips_': tasks[i].created_at + "<br/>" + tasks[i].updated_at,
						'_actions_': actions,
						'_color_': color
					};
					html += HString.replace(content, d);
				}
				$("#contentsign").html(html);
				$('.tips').tooltip()
			}
			else {
				console.error(JSON.stringify(json))
			}
		}

		$("#id_title").html('The Plan List');
		HAjax.jsonGet({ url: '/task/plans', success: successAction });
	}

	function changestate(taskId, state) {
		function success(json) {
			if (json.state) {
				showNewTasks(true);
			}
			else {
				console.error(JSON.stringify(json))
			}
		}
		HAjax.jsonPut({ url: '/task/' + taskId + '/' + state, success: success });
	}

	$(document).ready(function () {
		showNewTasks();
	});
</script> {% endblock %}