{% extends "base.html" %}
{% block content %}

			
			<section class="show-content">
                <div class="container">
                    <div class="row">
                        <div >
                            <pre style='font-weight:600'>主题：{{ theme.name }}</pre>
                            <div class="line11"></div>
                        </div>
                    </div>
                </div>
            </section>
            
           {% for entry in entries %}
            <section class="show-content">
                <div class="container">
                    <div class="row">
                        <div >
                            
                            <pre>{{ entry.content }}</pre>
                            <div class="line11"></div>
                            <p class="right">
                                {{ entry.created_at }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            {%endfor%}
            
            <section class="welcome-content">
				<div class="container">
			        <div class="row">
				        <form action='/theme/{{theme_id}}/add'  method='POST'>
				            <div class="col-md-12 animated bounceIn">
				                <h3>添加评论</h3>
				                <textarea class='content' id='content' name='content'></textarea>
				                <input class="btn1" type='submit'  value="submit"/>
				            </div>
				        </form>
			        </div>
			    </div>
			    
			</section>
{% endblock %}
