{% extends "base.html" %}
{% block content %}

			
			<section class="show-content" id='contentsign'>
                <div class="container">
                    <div class="row">
                        <div >
                            <pre style='font-weight:600'>主题：{{ theme.name }}</pre>
                            <div class="line11"></div>
                        </div>
                    </div>
                </div>
            </section>
            
           <signdiv>
            <section class="show-content">
                <div class="container">
                    <div class="row">
                        <div >
                            
                            <pre>_content </pre>
                            <div class="line11"></div>
                            <p class="right">
                                _created_at 
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            </signdiv>
            
            <section class="welcome-content">
				<div class="container">
			        <div class="row">
				        <form action='/theme/{{theme.id}}/add'  method='POST'>
				            <div class="col-md-12 animated bounceIn">
				                <h3>添加评论</h3>
				                <textarea class='content' id='content' name='content'></textarea>
				                <input class="btn1" type='submit'  value="submit"/>
				            </div>
				        </form>
			        </div>
			    </div>
			    
			</section>
			
{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/js//common/myAjax.js"></script>
<script type="text/javascript" src="/static/js//common/myString.js"></script>
<script type="text/javascript">


function showCourences(){
	//成功显示内容
	function successAction(json){
		if(json.state){
			var content = $("signdiv").html();
			var html = "";
			var data = json.data;
			for(var i=0;i<data.length;i++){
				var d = {
						'_content':data[i].content,
						'_createdAt':data[i].created_at};
				html += HString.replace(content,d);
			}
			$("#contentsign").after(html);
		}
		else{
			console.error(JSON.stringify(json))
		}
	}
	
	HAjax.jsonGet({url:'/theme/{{theme.id}}/content',success:successAction});
}


$(document).ready(function(){
	showCourences();
});
</script>
{% endblock %}
